body {
    background: #003434;
    margin: 0;
    padding: 0 0 0 0;
}

a {
    color: #DADADA;
}

div {
    display: block;
    background: #194848;
}

h1 {
    margin: 0 0 0 0;
    padding: 0em 0em 0em 0em;
}

h3 {
    margin: 0;
    padding: 0;
}

li {
    margin: 0em 1.5em 0em 1em;
}

ol, ul {
    margin: 1em 0em 1em 0em;
    padding: 1em;
}

p {
    margin: 1em 1em 1em 1em;
}

table, th, td {
    color: #FFFFFF;
    border-spacing: 0;
}

table {
    margin: 0em auto;
    padding: 2em 0em 2em 0em;
    width: 95%;
}

th {
    font-size: 1.2em;
    background-color: #55D5FF;
    cursor: pointer;
    border: 2px solid #FFFFFF;
}

th:hover {
    background-color: #FFFFFF;
    color: #55D5FF;
}

td {
    font-size: 1em;
    border: 2px solid #FFFFFF;
}

tbody tr{
    background-color: #0CA3C2;
}

tbody tr:nth-child(odd) {
    background-color: #398190;
}

td a {
    color: #FFFFFF;
}

.textdiv {
    //width: 9em;
    //float: left;
    //padding-right: 5em;
}

.imgdiv {
    //width: 9em;
    //float: right;
    //padding-left: 5em;
}

.title {
    color: #FFFFFF;
    text-align: center;
    background: #0d5f77;
    margin: 0 auto;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0;
}

.subtitle {
    text-align: left;
    color: #FFFFFF;
    font-size: 1.7em;
    font-family: sans-serif;
    background: #398190;
    margin: 0.3em;
}

.list {
    color: #FFFFFF;
    font-size: 1em;
    font-family: sans-serif;
    //margin: 1em 1em 1em 1em;
}

.recipeentry {
    font-family: sans-serif;
}

.centerdiv {
    text-align: center;
    background: #0CA3C2;
    //margin: 1em 1em 1em 1em;
}

#indexlink {
    text-align: center;
    font-size: 1.3em;
    margin: 0;
}

#pcategory {
    color: #DADADA;
    text-align: center;
    font-size: 1em;
}

#description {
    color: #DADADA;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
}

#picture {
    text-align: center;
    color: #DADADA;
}